<!doctype html>
<div class="register page">
  <h1>Register</h1>
  <form class="register-form">
    <fieldset>
      <input [(ngModel)]="colonistName" type="text" placeholder="Name" name="name" />
      <input [(ngModel)]="colonistAge" type="number" placeholder="Age" name="age" />
      <div class="job-select">
      <select [(ngModel)]="colonistJobId" name="Occupation">
        <option value="no job">Select an occupation</option>
        <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option>
      </select>
      </div>
    </fieldset>
    <button (click)="postColonist()" type="submit">Check in</button>
  </form>
</div>



  

