<!doctype html>
<div class="register page">
  <h1>Register</h1>
  <form class="register-form">
    <fieldset>
      <input type="text" placeholder="Name" name="name" />
      <input type="number" placeholder="Age" name="age" />
      <div class="job-select">
      <select name="Occupation">
        <option value="">Select an occupation</option>
        <option *ngFor="let job of jobs">{{job.name}}</option>
      </select>
      </div>
    </fieldset>
    <button type="submit">Check in</button>
  </form>
</div>



  

