.page {
  background: linear-gradient(to bottom, rgba(59,27,40,1) 0%, rgba(59,27,40,1) 12%, rgba(59,27,40,1) 25%, rgba(134,60,56,1) 100%);
  background-size: cover;
  height: 100vh;
}

.register {
  h1 {
    text-align: center;
    padding: 3rem 1rem;
    color: white;
    margin-bottom: 0;
    font-size: 2.5rem;
  }
  form {
    display: flex;
    border: none;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: .5rem;
    background: 0 0;
    margin-bottom: 2rem;
    width: 99%;
    color: white;

    &::placeholder {
      color: white;
  }
}

.job-select {
  border-bottom: 1px solid white;
  width: 100%;

  select {
    width: 100%;
    margin: 0;
    background: 0 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
  }
}

.submit {
  margin: 0 auto;

  button {
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1.2rem;
    font-weight: lighter;
    margin-top: 5rem; 
    cursor: pointer;

    &:hover {
      background: #3b1828;
      border: 1px solid #3b1828;
    }
  }
}




