.home {
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(100,100,100,0.5)),url(https://s-media-cache-ak0.pinimg.com/originals/7b/ab/09/7bab093a591070de719fac0c04d7dc14.jpg);
  background-size: cover;
  background-repeat: no-repeat center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 0 1rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 2.3rem;
  }

  h2 {
    text-transform: none;
    font-size: 2rem;
  }
}

@keyframes pulse {
    40% {
        box-shadow: 0 0 0 20px rgba(237,237,237,.6),
        0 0 0 40px rgba(237,237,237,.6),
        0 0 0 60px rgba(237, 237, 237,.6);
    }

    50% {
        box-shadow: 0 0 0 20px rgba(237,237,237,.6),
        0 0 0 40px rgba(237,237,237,.6),
        0 0 0 60px rgba(237, 237, 237, .6);
    }
}

 .enter-button a {
    display: block;
    width: 75px;
    height: 75px;
    margin: auto;
    background: rgba(237,237,237,.2);
    opacity: .2;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(237,237,237,.2),
        0 0 0 20px rgba(237,237,237,.2),
        0 0 0 30px rgba(237,237,237,.2);

    animation: pulse 2.5s infinite ease-in-out;
  }


  



